.footer {
  width: 100%;
  max-width: 1024px;
  font-size: 12px;
}

.fListes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.fList {
  list-style: none;
  padding: 0px;
}

.fListItem {
  margin-bottom: 10px;
  color: #0071c2;
  cursor: pointer;
}
